<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="https://calendar.google.com/calendar/embed?src=proyecto2tino%40gmail.com&ctz=America%2FMexico_City"></a>
  <div id="calendar">
    <iframe src="https://calendar.google.com/calendar/b/1/embed?showPrint=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=proyecto2tino%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FMexico_City" style="border-width:0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
  </div>



<br>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="../../node_modules/moment/min/moment.min.js"></script>
  <script src="../../node_modules/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="../js/calendariodeamors.js"></script>
 
  </script>
</body>
</html>