<div class="container">
  <!--Branding-->
  <header class="branding">
    <img src="../images/tino-logo.png" class="tino-logo" alt="tino-logo">
    <h5>Welcome,
      <span style="font-weight: 100;">{{this.name}}</span>
    </h5>
  </header>
  <!--Menu Section-->
  <section>
    <button onclick="location.href='/clients'" type="button" class="btn btn-lg btn-block" id="btn-cli">CLIENTS</button>
    <button onclick="location.href='/movements'" type="button" class="btn btn-lg btn-block" id="btn-mov">MOVEMENTS</button>

    <div class="float-left">
      <figure class="figure" id="chart">
        <i onclick="location.href='/report'" class="far fa-chart-bar" style="margin-left: 33%; margin-top: 7%;"></i>
      </figure>
    </div>

    <div class="float-right">
      <figure class="figure" id="homePageCalendar">
        <i onclick="location.href='/calendar'" class="far fa-calendar-alt" style="margin-left: 5%; margin-top: 7%;"></i>
      </figure>
    </div>
  </section>
</div>
<!--Footer-->
<footer>
  <p>Your personal money butler</p>
  <p style="font-size: 10px;">@tinocopyright_TM</p>
</footer>
</div>