    <div class="container">
        <!--Current Section-->
        <header class="movement-section">
            <div class="jumbotron">
                <h4>REPORTS</h4>
            </div>    
        </header>
        <!--Reports-->
        <section>
                <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Choose a Client
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">{{}}</a>
                        </div>
                </div>

                <div class="form-group" id="report-form">
                        <label for="exampleFormControlInput1">Obtain Report</label>
                        <label for="exampleFormControlInput1">From:</label>
                        <input type="date" class="form-control" id="movement-date" placeholder="25/03/2018">
                        <label for="exampleFormControlInput1">To:</label>
                        <input type="date" class="form-control" id="movement-date" placeholder="25/03/2018">
                </div>

                <div id="total-movements">
                    <span>Number of Transactions</span>
                    <div id="transactions">{{}}</div>
                </div>

                <div id="average-ticket">
                        <span>Average Ticket</span>
                        <div id="ticket-value">{{}}</div>
                </div>

                <div id="total-income">
                        <span>Total Income</span>
                        <div id="income">{{}}</div>
                </div>
        </section>
    </div>
                <!--Footer-->
                <footer>
                        <nav class="navbar navbar-light">
                                <a class="navbar-brand" href="#" id="all-clients">
                                        <i class="fas fa-user-circle"></i>
                                </a> 
                                <a class="navbar-brand" href="#" id="all-movements">
                                        <i class="fas fa-file-invoice-dollar"></i>
                                </a> 
                                <a class="navbar-brand" href="#" id="reports">
                                        <i class="far fa-chart-bar"></i>
                                </a>                            
                                <a class="navbar-brand" href="#" id="event-calendar">
                                     <i class="far fa-calendar-alt"></i>
                                </a>
                        </nav>
                </footer>