.list-group-item {
  line-height: 2.5;
}

body {
  background-color: #5EDDD3;
}

@media (min-width: 320px) and (max-width: 414px) {
  .branding {
    width: 100%;
    margin-top: 5%; 
  }
  
  h5 {
    color: white;
    text-align: center;
  }
  
  .tino-logo{
    width: auto;
    height: 20%;
    position: absolute;
    top: 10%;
    left: 27%;
  } 

  section {
    margin-left: 5%;
    margin-right: 5%;
  }

  button {
    background-color: #92E8DE;
    color: white;
    position: absolute;
    top: 35%;
    left: 0%;
    border-radius: 5%;
  }
  
  #btn-mov {
    margin-top: 18%;
  }
  
  figure {
    position: absolute;
    top: 55%;
    background-color: #92E8DE;
    display: block;
    width: 44%;
    height: 13%;
    color: white;
    border-radius: 5%;
    font-size: 60px;
  }
  
  #calendar {
    right: 3%;
  }

  #chart {
    left: 3%;
  }

  #new {
    position: fixed;
    bottom: 14%;
    right: 5%;
    background-color: #B0EDE4;
    width: 27%;
    height: 15%;
    border-radius: 50%;
    color: #5EDDD3;
    text-align: center;
  }

  footer {
    position: fixed;
    bottom: 1%;
    color: white;
    width: 100%;
    text-align: center;
  }
}
